body {
  text-align:center;
  background-color:#80D8FF;
}
div {
  margin-top:15px;
}
.image section {
  display:flex;
  justify-content:center;
}
.section-style {
  margin-right:25px;
  margin-left:25px;
  background-color:white;
}
#disneyland {
  width:555px;
}
#legoland {
  width:555px;
}
#wallofchina {
  width:555px;
}
#everest {
  width:555px;
}

